{
  "stage": 0,
  "env": {
    "development": {
      "plugins": ["react-transform", "object-assign"],
      "extra": {
        "react-transform": {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }
      },
      "optional": [
        "runtime"
      ]
    },
    "production": {
      "optional": [
        "optimisation.react.constantElements",
        "optimisation.react.inlineElements",
        "runtime"
      ]
    }
  },
  "whitelist": [
    "es6.arrowFunctions",
    "es6.blockScoping",
    "es6.classes",
    "es6.constants",
    "es6.destructuring",
    "es6.modules",
    "es6.parameters",
    "es6.properties.computed",
    "es6.properties.shorthand",
    "es6.spread",
    "es6.templateLiterals",
    "es7.asyncFunctions",
    "es7.classProperties",
    "es7.decorators",
    "es7.objectRestSpread",
    "es7.trailingFunctionCommas",
    "flow",
    "react",
    "react.displayName",
    "regenerator"
  ]
}
